.student {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  /* height: 200px;
  width: 100px; */
  width: 150px;
}

.frontend,
.backend,
.no-team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 500px;
}
